# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Temp
*~
*swp
*LOG

# Not Used Parts
env/*
HLMLib/*
HLMTools/*
HTK/*
HTKBook/*
HTKLVRec*/*

# Binary
*.out
*HBuild
*HCompV
*HCopy
*HDMan
*HERest
*HHEd
*HInit
*HList
*HLRescore
*HLStats
*HMMIRest
*HNForward
*HNTrainSGD
*HParse
*HQuant
*HRest
*Hresults
*HSGen
*HSmooth
*HVite


